/* カフート風のスタイル */

body {
    font-family: "Arial", sans-serif;
    margin: 0;
    background-color: #f2f2f2;
}

.quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #00BFFF; /* カフートの青色 */
}

.options label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}

.options input[type="radio"] {
    margin-right: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #00BFFF; /* カフートの青色 */
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.options input[type="radio"]:checked {
    background-color: #00BFFF; /* カフートの青色 */
}

.options span {
    vertical-align: middle;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #00BFFF; /* カフートの青色 */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0080FF; /* カフートの濃い青色 */
}
