/* 全体に適用される CSS を記述 */
.inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: content-box;
    }
    .header {
    background: #CB00E1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    }
    .header-inner {
    display: flex;
    align-items: center;
    }
    .header-title a{
    color: #333;
    font-size: 24px;
    font-weight: bold;
    }
    .header-nav {
    margin-left: auto;
    }
    .header-nav-list {
    display: flex;
    }
    .header-nav-item:not(:first-child){
    margin-left: 40px;
    }
    .header-nav-item-link {
    display: block;
    color: #333;
    height: 80px;
    line-height: 80px;
    }

    /* style.css */

    /* ヘッダーの下にマージンを追加 */
    .content-wrapper {
        margin-top: 130px;
    }

    