<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>マイページ</h3>
    <a href="{{url_for('logout')}}">ログアウト</a><br>
    <a class="nav-link" href="{{url_for('sample_list')}}">一覧</a>
    <a class="nav-link" href="{{url_for('register_quiz_form')}}">新規</a>
    <a class="nav-link" href="{{url_for('delete_quiz_form')}}">削除</a>
    <a class="nav-link" href="{{url_for('edit_quiz_form')}}">編集</a>
</body>
</html>