{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/mypage.css')}}">
{% endblock %}

{% block content %}

    <h3>マイページ</h3>
    <div class="sample1">
        <div class="flex_test-box">
        <div class="flex_test-item">
            <a class="nav-link" href="{{url_for('sample_list')}}"></a>
        </div>
        <div class="flex_test-item">
            <a class="nav-link" href="{{url_for('register_quiz_form')}}"></a>
        </div>
        <div class="flex_test-item">
            <a class="nav-link" href="{{url_for('delete_quiz_form')}}"></a>
        </div>
        <div class="flex_test-item">
            <a class="nav-link" href="{{url_for('edit_quiz_form')}}"></a>
        </div>
        <div class="flex_test-item">
            <a href="{{url_for('logout')}}"></a>
        </div>    
        </div>
        <h3>
            <span>クイズ一覧</span>
            <span>クイズ登録</span>
            <span>クイズ削除</span>
            <span>クイズ編集</span>
            <span>ログアウト</span>
        </h3>
    </div>
{% endblock %}
