{% extends "layout.html" %}

    {% block content %}
    <h3>クイズ</h3>
    <p>{{ quiz[1] }}</p>
    <form action="{{ url_for('check_answer', quizid=quiz[0]) }}" method="post">
        <input type="radio" name="answer" value="1"> {{ quiz[2] }}<br>
        <input type="radio" name="answer" value="2"> {{ quiz[3] }}<br>
        <input type="radio" name="answer" value="3"> {{ quiz[4] }}<br>
        <input type="radio" name="answer" value="4"> {{ quiz[5] }}<br>
        <input type="submit" value="回答する">
    </form>
    {% endblock %}