{% extends "user_layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/mypage.css')}}">
{% endblock %}

{% block content %}

    <h3>マイページ</h3>
    <div class="sample1">
        <div class="flex_test-box">
            <div class="flex_test-item">
            <a class="nav-link" href="{{url_for('user_list')}}"></a>
            </div>
            <div class="flex_test-item">
            <a class="nav-link" href="{{url_for('user_register_quiz_form')}}"></a>
            </div>
            <div class="flex_test-item">
            <a href="{{url_for('logout')}}"></a>
            </div>
        </div>    
    </div>
    <!-- ここにマイページのコンテンツを追加 -->
    <p>マイページのコンテンツ</p>
</div>
{% endblock %}
